<style type="text/css">
	h1{
		text-align: center;
	}

</style>

<h1>My Courses</h1>



<% @courses.each do |course| %>
<div class="row">
<div class="small-12 column">
		<p> <%= link_to course.name, course_path(course) %></p>	
	</div>
</div>
<% end %>
